@define-color background #232629;
@define-color background-active #3e4348;
@define-color foreground #eff0f1;

* {
    border: none;
    border-radius: 0;
    font-family: JetBrains Mono Nerd Font;
    font-size: 17px;
    min-height: 0;
}

window#waybar {
    background: @background;
    color: @foreground;
}


#tags button {
    padding: 0 5px;
    background: transparent;
    color: white;
    border-bottom: 3px solid transparent;
}

#tags button.occupied {
    background: @background;
    color: gray;
}

#tags button.focused {
    background: @background-active;
    color: @foreground;
}

#mode, #clock, #battery {
    padding: 0 10px;
}


#clock {
    background-color: @background;
    color: @foreground;
}

#battery {
    background-color: @background;
    color: @foreground;
}

#battery.charging {
    color: green;
    background-color: @background;
}
